<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>管理后台</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    </nav>
    <!--中间内容-->
    <div class="m-padded-tb-large m-container-small">
        <div class="ui container">
            <div class="ui container">
                <div class="ui success large message">
                    <h2>Hi,</h2>
                    <p>摇摇猪,欢迎登录</p>
                </div>
            </div>
        </div>
    </div>
    <!--底部front-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/css/semantic.min.css"></script>
<script>
    $('.menu.toggle').click(function(){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //下拉菜单初始化
    $('.ui.dropdown').dropdown();
</script>
</body>
</html>