<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="_fragments :: head(~{::title})">
        <title>404</title>
    </head>
    <body>
    <!--导航-->
    <nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini" ></nav>
        <div class="ui center aligned segment">
            <div class="ui error message">
                <h2>404</h2>
                <h3>您要找的网页不存在</h3>
            </div>
        </div>
    </body>
    <!--底部front-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>
</html>